<ul class="monstro-social">
    <li>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{{url}}}" class="fb" rel="nofollow" target="_blank">
            <i class="icon-facebook"></i>
        </a>
    </li>
    <li>
        <a href="https://plus.google.com/share?url={{{url}}}" class="gplus" rel="nofollow" target="_blank">
            <i class="icon-gplus"></i>
        </a>
    </li>
    <li>
        <a href="https://twitter.com/intent/tweet?url={{{url}}}" class="twitter" rel="nofollow" target="_blank">
            <i class="icon-twitter"></i>
        </a>
    </li>
    <li>
        <a href="http://pinterest.com/pin/create/button/?url={{{url}}}" class="pinterest" rel="nofollow" target="_blank">
            <i class="icon-pinterest"></i>
        </a>
    </li>
    <li><a href="mailto:?to=&body={{{url}}}" rel="nofollow" class="email"><i class="icon-email"></i></a></li>
</ul>