<div class="archive-title" ng-if="WPData.archiveTitle">
    <h2 class="post-title" ng-bind-html="WPData.archiveTitle"></h2>
</div>
<div class="no-posts" ng-if="!posts.length">
    <p translate>Sorry, but nothing matched your search terms. Please try again with some different keywords.</p>
</div>
<div class="monstro-thumb-view row split-4" monstro-columns="contentLayout.columns" ng-if="posts" infinite-scroll="loadMore()"
     infinite-scroll-disabled="!(('infinite' == contentLayout.pagination) && WPData.nextPostsLink)" infinite-scroll-distance="2"
     data-grid-effect="{{contentLayout.postAnimations.grid}}" ng-class="{'grid-effect-disabled':('pagination' == contentLayout.pagination)}">
    <div ng-repeat="column in columns track by $index" class="columns" ng-class="{
        'large-3': 4 == contentLayout.columns,
        'large-4': 3 == contentLayout.columns,
        'large-6': 2 == contentLayout.columns
    }">
        <article id="post-{{post.id}}" ng-repeat="post in column" ng-class="post.postClasses" monstro-class="{
            'no-feat-img': !post.featimg
        }">
            <header class="entry-header">
                <div class="featimg" data-hover-effeckt-type="{{contentLayout.hoverAnimation}}">
                    <a class="image" ng-href="{{post.permalink}}" title="{{'Permalink to' | translate}} {{post.post_title}}"
                       rel="bookmark">
                        <img ng-src="{{post.featimg}}" alt="{{post.post_title}}" ng-if="post.featimg && !post.animation"/>
                        <img ng-src="{{post.animation}}" alt="{{post.post_title}}" ng-if="post.animation"/>
                    </a>
                    <div class="hover-toggle">
                        <div class="entry-meta">
                            <ul>
                                <li>
                                    {{'on' | translate}} <a ng-href="{{post.date.url}}">{{post.date.text}}</a>
                                </li>
                            </ul>
                        </div>
                        <h2 class="entry-title">
                            <a ng-href="{{post.permalink}}" title="{{post.post_title}}" rel="bookmark" monstro-html="post.post_title"></a>
                        </h2>
                        <div ng-if="1 == settings.votes.enable" monstro-votes icon="settings.votes.icon" votes="post.votes"
                             vote="post.vote" post-id="post.id"></div>
                    </div>
                </div>
            </header>
        </article>
    </div>
    <div class="monstro-pagination" ng-if="('pagination' == contentLayout.pagination) && WPData.havePagination"
         ng-include="'pagination' | partial"></div>
    <div class="monstro-load-more" ng-if="('load-more' == contentLayout.pagination) && WPData.havePagination && WPData.nextPostsLink" translate ng-click="loadMore()">
        Load more
    </div>
</div>