
    <div class="small-5 large-2 columns" ng-include="tdu + '/templates/header/logo.html'"></div>
    <div class="small-6 large-6 columns">
        <div class="monstro-stats">
            <ul>
                <li>
                    <strong>{{post.views}}</strong>
                    <span ng-pluralize count="singlePost.views" when="pluralizeViews"></span>
                </li>
            </ul>
        </div>
        <div class="socialicons share" monstro-sharing="singlePost.permalink"></div>
    </div>
    <div class="small-6 large-4 columns" ng-init="post=singlePost">
        <div class="monstro-vote monstro-toggleable-element" ng-controller="VotesCtrl" ng-if="1 == settings.votes.enable"
             ng-include="tdu + '/templates/views/single/votes.html'">
        </div>
    </div>
