#sidebarAccent {
	left: 0px; 
	top: -230px; 
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678, sizingMethod='auto expand');
    zoom: 1;
}