<div class="setting-template-container">
    <a ng-href="{{anchorPrefix()}}general" class="btn btn-default btn-block text-left navigation-item">
        <i class="back-icon-cog"></i><span translate>General</span><i class="glyphicon glyphicon-chevron-right pull-right"></i>
    </a>

    <a ng-href="{{anchorPrefix()}}header" class="btn btn-default btn-block text-left navigation-item">
        <i class="back-icon-doc-alt"></i><span translate>Header</span><i class="glyphicon glyphicon-chevron-right pull-right"></i>
    </a>

    <a ng-href="{{anchorPrefix()}}content" class="btn btn-default btn-block text-left navigation-item">
        <i class="back-icon-doc-1"></i><span translate>Content</span><i class="glyphicon glyphicon-chevron-right pull-right"></i>
    </a>

    <a ng-href="{{anchorPrefix()}}footer" class="btn btn-default btn-block text-left navigation-item">
        <i class="back-icon-footer"></i> <span translate>Footer</span><i class="glyphicon glyphicon-chevron-right pull-right"></i>
    </a>

	<a ng-href="{{anchorPrefix()}}styling" class="btn btn-default btn-block text-left navigation-item">
		<i class="back-icon-brush"></i> <span translate>Styling</span><i class="glyphicon glyphicon-chevron-right pull-right"></i>
	</a>

	<!--<a ng-href="{{anchorPrefix()}}typography" class="btn btn-default btn-block text-left navigation-item">-->
		<!--<i class="back-icon-font"></i> <span translate>Typography</span><i class="glyphicon glyphicon-chevron-right pull-right"></i>-->
	<!--</a>-->

	<a ng-href="{{anchorPrefix()}}imagesizes" class="btn btn-default btn-block text-left navigation-item">
		<i class="back-icon-ruler"></i> <span translate>Image sizes</span><i class="glyphicon glyphicon-chevron-right pull-right"></i>
	</a>

	<a ng-href="{{anchorPrefix()}}votes" class="btn btn-default btn-block text-left navigation-item">
		<i class="back-icon-thumbs-up"></i> <span translate>Likes</span><i class="glyphicon glyphicon-chevron-right pull-right"></i>
	</a>

	<a ng-href="{{anchorPrefix()}}slugs" class="btn btn-default btn-block text-left navigation-item">
		<i class="back-icon-link"></i> <span translate>Pretty URLs</span><i class="glyphicon glyphicon-chevron-right pull-right"></i>
	</a>

    <a ng-href="{{anchorPrefix()}}social" class="btn btn-default btn-block text-left navigation-item">
		<i class="back-icon-user"></i> <span translate>Social networks</span><i class="glyphicon glyphicon-chevron-right pull-right"></i>
	</a>

    <a ng-href="{{anchorPrefix()}}sidebarBuilder" class="btn btn-default btn-block text-left navigation-item">
        <i class="back-icon-doc-new"></i> <span translate>Sidebar builder</span><i class="glyphicon glyphicon-chevron-right pull-right"></i>
    </a>

    <a ng-href="{{anchorPrefix()}}importExport" class="btn btn-default btn-block text-left navigation-item">
        <i class="back-icon-exchange"></i> <span translate>Import/Export/Demo content</span><i class="glyphicon glyphicon-chevron-right pull-right"></i>
    </a>
</div>