<div class="setting-template-container">
    <div class="form-group">
        <label translate>Facebook App ID</label>
        <div>
            <input type="text" class="input-sm" ng-model="settings.social.fbAppId"/>
            <div class="help-block" translate>
                You'll need this if you want Facebook comments.
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <label translate>Show RSS icon</label>
        <div>
            <select data-monstro-switch data-target="settings.social.showRss">
                <option value="1">Show</option>
                <option value="0">Don't show</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label translate>Facebook profile ID</label>
        <div>
            <input type="text" data-ng-model="settings.social.icons.facebook" class="input-sm"/>
            <div class="help-block">
                i.e. MonstroThemes
            </div>
        </div>
    </div>

    <div class="form-group">
        <label translate>Twitter ID</label>
        <div>
            <input type="text" data-ng-model="settings.social.icons.twitter" class="input-sm"/>
            <div class="help-block">
                i.e. MonstroThemes
            </div>
        </div>
    </div>

    <div class="form-group">
        <label translate>G+ public profile URL</label>
        <div>
            <input type="text" data-ng-model="settings.social.icons.gplus" class="input-sm"/>
            <div class="help-block">
                i.e. https://plus.google.com
            </div>
        </div>
    </div>

    <div class="form-group">
        <label translate>Yahoo public profile URL</label>
        <div>
            <input type="text" data-ng-model="settings.social.icons.yahoo" class="input-sm"/>
            <div class="help-block">
                i.e. http://profile.yahoo.com
            </div>
        </div>
    </div>

    <div class="form-group">
        <label translate>Dribbble public profile URL</label>
        <div>
            <input type="text" data-ng-model="settings.social.icons.dribbble" class="input-sm"/>
            <div class="help-block">
                i.e. http://dribbble.com/yourname
            </div>
        </div>
    </div>

    <div class="form-group">
        <label translate>LinkedIn public profile URL</label>
        <div>
            <input type="text" data-ng-model="settings.social.icons.linkedin" class="input-sm"/>
            <div class="help-block">
                i.e. http://www.linkedin.com/company/yourname
            </div>
        </div>
    </div>

    <div class="form-group">
        <label translate>Vimeo public profile URL</label>
        <div>
            <input type="text" data-ng-model="settings.social.icons.vimeo" class="input-sm"/>
            <div class="help-block">
                i.e. http://vimeo.com/user
            </div>
        </div>
    </div>

    <div class="form-group">
        <label translate>Youtube public profile URL</label>
        <div>
            <input type="text" data-ng-model="settings.social.icons.youtube" class="input-sm"/>
            <div class="help-block">
                i.e. http://www.youtube.com/user/yourname
            </div>
        </div>
    </div>

    <div class="form-group">
        <label translate>Tumblr public profile URL</label>
        <div>
            <input type="text" data-ng-model="settings.social.icons.tumblr" class="input-sm"/>
            <div class="help-block">
                i.e. http://yourname.tumblr.com
            </div>
        </div>
    </div>

    <div class="form-group">
        <label translate>Delicious public profile URL</label>
        <div>
            <input type="text" data-ng-model="settings.social.icons.delicious" class="input-sm"/>
            <div class="help-block">
                i.e. https://delicious.com/yourname
            </div>
        </div>
    </div>

    <div class="form-group">
        <label translate>Flickr public profile URL</label>
        <div>
            <input type="text" data-ng-model="settings.social.icons.flickr" class="input-sm"/>
            <div class="help-block">
                i.e. http://www.flickr.com/photos/yourname
            </div>
        </div>
    </div>

    <div class="form-group">
        <label translate>Instagram public profile URL</label>
        <div>
            <input type="text" data-ng-model="settings.social.icons.instagram" class="input-sm"/>
            <div class="help-block">
                i.e. http://instagram.com/yourname
            </div>
        </div>
    </div>

    <div class="form-group">
        <label translate>Pinterest public profile URL</label>
        <div>
            <input type="text" data-ng-model="settings.social.icons.pinterest" class="input-sm"/>
            <div class="help-block">
                i.e. http://pinterest.com/yourname
            </div>
        </div>
    </div>

    <div class="form-group">
        <label translate>Contact email</label>
        <div>
            <input type="text" data-ng-model="settings.social.icons.email" class="input-sm"/>
        </div>
    </div>

    <div class="form-group">
        <label translate>Skype Name</label>
        <div>
            <input type="text" data-ng-model="settings.social.icons.skype" class="input-sm"/>
        </div>
    </div>
</div>