<div class="setting-template-container">
	<fieldset>
		<legend><h4 translate>Header colors settings</h4></legend>
		<div>
			<div class="form-group">
				<label translate>Header Background color</label>
				<div>
					<input data-monstro-color-picker data-target="settings.styling.headerBgColor"/>
				</div>
			</div>
			<div class="form-group">
				<label translate>Header Text color</label>
				<div>
					<input data-monstro-color-picker data-target="settings.styling.headerTextColor"/>
				</div>
			</div>
			<div class="form-group">
				<label translate>Header Menu links color</label>
				<div>
					<input data-monstro-color-picker data-target="settings.styling.headerMenuColor"/>
				</div>
			</div>
			<div class="form-group">
				<label translate>Header Submenu links color</label>
				<div>
					<input data-monstro-color-picker data-target="settings.styling.headerSubmenuColor"/>
				</div>
			</div>
		</div>
	</fieldset>

    <fieldset>
        <legend><h4 translate>Sticky-header on posts and video pages</h4></legend>
        <div>
            <div class="form-group">
                <div class="help-block translate">Setting available for <a href="#customize-header">sticky header</a> option only.</div>
            </div>
            <div class="form-group">
                <label translate>Sticky-header Background color</label>
                <div>
                    <input data-monstro-color-picker data-target="settings.styling.headerStickyBgColor"/>
                </div>
            </div>
            <div class="form-group">
                <label translate>Sticky-header Text color</label>
                <div>
                    <input data-monstro-color-picker data-target="settings.styling.headerStickyTextColor"/>
                </div>
            </div>
        </div>
    </fieldset>

	<fieldset>
		<legend><h4 translate>Content colors settings</h4></legend>
		<div>
			<div class="form-group">
				<label translate>Content Background color</label>
				<div>
					<input data-monstro-color-picker data-target="settings.styling.contentBgColor"/>
				</div>
			</div>
			<div class="form-group">
				<label translate>Content Text color</label>
				<div>
					<input data-monstro-color-picker data-target="settings.styling.contentTextColor"/>
				</div>
			</div>
            <div class="form-group">
                <div class="help-block translate">To set Sidebar background-color navigate to <a href="#customize-content">Content</a>, choose your page and enable Background color for sidebar and choose your desired values.</div>
            </div>
			<div class="form-group">
				<label translate>Content Links color</label>
				<div>
					<input data-monstro-color-picker data-target="settings.styling.contentLinksColor"/>
				</div>
			</div>
			<div class="form-group">
				<label translate>Content Links mouse-over color</label>
				<div>
					<input data-monstro-color-picker data-target="settings.styling.contentLinksHoverColor"/>
				</div>
			</div>
			<div class="form-group">
				<label translate>List/Grid mouse-over background color</label>
				<div>
					<input data-monstro-color-picker data-target="settings.styling.contentBgHoverColor"/>
				</div>
			</div>
			<div class="form-group">
				<label translate>List/Grid mouse-over text color</label>
				<div>
					<input data-monstro-color-picker data-target="settings.styling.contentTextHoverColor"/>
				</div>
			</div>
            <div class="form-group">
				<label translate>Post tags background color</label>
				<div>
					<input data-monstro-color-picker data-target="settings.styling.contentTagsBgColor"/>
				</div>
			</div>
            <div class="form-group">
				<label translate>Post tags text color</label>
				<div>
					<input data-monstro-color-picker data-target="settings.styling.contentTagsTextColor"/>
				</div>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<legend><h4 translate>Video page color settings</h4></legend>
		<div>
			<div class="form-group">
				<label translate>Video Background color</label>
				<div>
					<input data-monstro-color-picker data-target="settings.styling.videoBgColor"/>
				</div>
			</div>
			<div class="form-group">
				<label translate>Video Text color</label>
				<div>
					<input data-monstro-color-picker data-target="settings.styling.videoTextColor"/>
				</div>
			</div>
		</div>
	</fieldset>

    <fieldset>
		<legend><h4 translate>Footer colors settings</h4></legend>
		<div>
			<div class="form-group">
				<label translate>Footer Background color</label>
				<div>
					<input data-monstro-color-picker data-target="settings.styling.footerBgColor"/>
				</div>
			</div>
			<div class="form-group">
				<label translate>Footer Text color</label>
				<div>
					<input data-monstro-color-picker data-target="settings.styling.footerTextColor"/>
				</div>
			</div>
			<div class="form-group">
				<label translate>Footer Links color</label>
				<div>
					<input data-monstro-color-picker data-target="settings.styling.footerLinksColor"/>
				</div>
			</div>
			<div class="form-group">
				<label translate>Footer Links mouse-over color</label>
				<div>
					<input data-monstro-color-picker data-target="settings.styling.footerLinksHoverColor"/>
				</div>
			</div>
		</div>
	</fieldset>
</div>